registry=https://packages.aliyun.com/60dc263f52743a5162b5ece8/npm/npm-registry/
//packages.aliyun.com/60dc263f52743a5162b5ece8/npm/npm-registry/:username=5f82c00d18c17e7748f8f277
//packages.aliyun.com/60dc263f52743a5162b5ece8/npm/npm-registry/:_password=c0hkbVpNV3BkREJV